@import "variables";
@import "functions";

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-color;
    font-family: $font-stack;
  }

a {
    color: $dark-color;
    &:hover {
        color: $light-color;
        @include transition(all 2s ease)
    }
}

header {
    background-color: $secondary-color;
    h1{
        color:$dark-color;
    }
    p {
        color:$light-color;
    }
}

.section {
    min-height: 50vh;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    h2{
        color: $light-color;
    }
    &-a {
        background-color: $primary-color;
        h2 {
            color: $dark-color;
        }
    }
    &-b {
        background-color: $secondary-color;
    }
}